<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peppe - best place to buy and sell</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    </strong>
  </head>
  <body>
  <div class="container">
      <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename = 'img/peppe2.png') }}"/></a>
 

 <!-- <div class="navbar">
              <div class="navbar-inner"> -->
                <div class="container"> 
                <div class="row">
                <div class="span12">
		<div class="nav-collapse">
                  <ul class="nav nav-tabs">
                    {% if 'email' in session %}
                      <a href="{{ url_for('welcome') }}" class="btn btn-large btn-peppe" data-toggle="tooltip" title="Antiques">Peppe</a>
                      <a href="{{ url_for('about') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="About">About</a>
                      <a href="{{ url_for('contact') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="Contact Us">Contact</a>
                      <a href="{{ url_for('profile') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="Profile">Profile</a>
                      <a href="{{ url_for('signout') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="Sign out">Sign Out</a>
                    {% else %}
                      <a href="{{ url_for('home') }}" class="btn btn-large btn-peppe" data-toggle="tooltip" title="Antiques"><i class="icon-home icon-white"></i>Peppe</a>
		      <a href="{{ url_for('signup') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="Create a new account">Register</a>
                      <!-- <a href="{{ url_for('about') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="About Peppe">About</a> -->              
                      <a href="{{ url_for('signin') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="Sign in to your Peppe account">Sign in</a>
		      
		      <div class="btn btn-custom disabled"><input type="text" class="span5 search-query" placeholder="Search items"/>  
                     <button type="submit" class="btn">Search</button></div>

		      <a href="{{ url_for('contact') }}" class="btn btn-large btn-custom" data-toggle="tooltip" title="Contact Us">Contact</a>
		      
                    {% endif %}
                </ul>
                      
              </div>
            </div>
      
      <div class="row">
        <div class="span2">
          <ul class="nav nav-list">
            <li class="nav-header">Browse by Category</li>
            <li><a href="#" data-toggle="tooltip" title="Antiques">Antiques</a></li>
            <li><a href="#" data-toggle="tooltip" title="Auto & Transport">Auto & Transport</a></li>
            <li><a href="#" data-toggle="tooltip" title="Building & Storage">Building & Storage</a></li>
            <li><a href="#" data-toggle="tooltip" title="Careers">Careers</a></li>
            <li><a href="#" data-toggle="tooltip" title="Crops & Feed">Crops & Feed</a></li>
            <li><a href="#" data-toggle="tooltip" title="Events & Announcements">Events & Announcements</a></li>
            <li><a href="#" data-toggle="tooltip" title="Livestock $ Other Animals">Livestock $ Other Animals</a></li>
            
            <li><a href="#" data-toggle="tooltip" title="Machinery">Machinery</a></li>
            <li><a href="#" data-toggle="tooltip" title="Miscellaneous">Miscellaneous</a></li>
            <li><a href="#" data-toggle="tooltip" title="Real Estate">Real Estate</li>
            <li><a href="#" data-toggle="tooltip" title="Services">Services</a></li>

          </ul>
        </div>  
      <div class="span10">  
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
      </div>
     <div class="span12">
     <div class="container">
     <div id="footer">
     <ul class="nav nav-tabs fixed-bottom">
    
    <legend></legend>
	<address>&copy; 2013 Initas Technologies&nbsp;&nbsp;&nbsp;&nbsp;info@peppe.com | +234 805 826 4146 &nbsp;&nbsp;&nbsp;&nbsp;10 Awoniyi Elemo Str, Osolo Way, Isolo, Lagos, Nigeria</address>
</div>
</div>
</div>
</ul>
</footer>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    
  </body>
</html>
