{% extends "layout.html" %}
  
{% block content %}
  <div class="container">
  <div class="sign">
  
  <div class="signtext">
  <h1>Membership Login</h1>
   
  <br>
  <form action="{{ url_for('signin') }}" method=post class="form-horizontal">
   <div class="control-group warning">
    {{ form.hidden_tag() }}
    {% for message in form.email.errors %}
      <p><div class="help-inline">{{ message }}</div></p>
    {% endfor %} 
    {{ form.email.label }}
    {{ form.email(placeholder="Email", class="span4") }}
     
    
    {% for message in form.password.errors %}
      <p><div class="help-inline">{{ message }}</div></p>
    {% endfor %}
    {{ form.password.label }}
    {{ form.password(placeholder="Password", class="span4") }}
    
    </div> 
    <p>{{ form.submit(class="btn") }}</p>
    
  </form>
  </div>
  </div>
  </div>
{% endblock %}
