{% extends "layout.html" %}
  
{% block content %}
     
  <div class="container">
      
    <ul class=entries>
  
    <div class="control-group warning">
    {% for message in form.subject.errors %}
      <p><div class="help-inline">{{ message }}</div></p>
    {% endfor %}
 
    {% for message in form.propics.errors %}
      <p><div class="help-inline">{{ message }}</div></p>
    {% endfor %}
  
    {% for message in form.body.errors %}
      <p><div class="help-inline">{{ message }}</div></p>
    {% endfor %}
    </div>
    
    
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
       
    
    
    {% for entry in entries %}
      <div class="posts">
        <img src="{{ url_for('static', filename = 'img/productpics/') }}{{ entry.simage }}" width="125" height="125">
        <p>{{ entry.subject }} <a href="{{ url_for('contactuser') }}">{{ entry.author }}</a></p>
    
    </div>
      
    {% else %}
  
      <li><em>No advert comments available yet. Make one if you have something..</em>
    {% endfor %}
  
  
    </ul>
  </div>

  
  <div class="container">
    <div class="welcont">
    <div class="formtext">
    <wellegend>Posts with Image</wellegend>
   
  <form action="{{ url_for('add_entry') }}" method=post enctype=multipart/form-data>
    
    {{ form.hidden_tag() }}
    

    {{ form.subject.label }}
    {{ form.subject(class="span4") }}
    

    {{ form.propics.label }}    
    {{ form.propics() }}  
 
 
    {{ form.body.label }}
    {{ form.body(class="span4") }}
     
    <p>{{ form.submit(class="btn") }}</p>
  </form>
  </div>
  </div>
  </div>


{% endblock %}
